h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    line-height: inherit;
}
ol, ul {
    list-style: none;
}
img{
    vertical-align: top;
}
footer {
    background-color: #fafbfc;
    border-top: 1px solid #e4e8eb;
}
footer .footer_inner {
    width: 1130px;
    padding: 0 30px 92px;
    margin: 0 auto;
}
footer .banner_area {
    overflow: hidden;
    padding: 24px 0;
}
.da_public_left {
    float: left;
}
.da_public_right {
    float: left;
    margin-left: 40px;
}
.veta_itme {
    float: left;
    margin-left: 40px;
}
footer .notice_area {
    overflow: hidden;
    padding: 16px 0 15px;
    border-top: 1px solid #e4e8eb;
}
footer .notice_box {
    float: left;
}
footer .notice_box .title {
    float: left;
    margin-right: 13px;
    color: #202020;
}
footer .aside_area {
    overflow: hidden;
    border-top: 1px solid #e4e8eb;
}
footer .partner_box_wrap {
    float: left;
    width: 780px;
    padding: 20px 0;
}
footer .partner_box {
    overflow: hidden;
} 
footer .partner_box+.partner_box {
    margin-top: 9px;
}
footer .partner_box .title {
    float: left;
    width: 87px;
}
footer .partner_box .link_partner {
    float: left;
    color: #777;
}
footer .partner_box .link_partner+.link_partner::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: #e4e8eb;
    vertical-align: -1px;
    margin: 0 8px;
}
footer .service_box_wrap {
    overflow: hidden;
    float: right;
    width: 350px;
    padding: 27px 0;
}
footer .service_box {
    overflow: hidden;
    float: left;
    max-width: 150px;
}
footer .service_box+.service_box {
    margin-left: 50px;
}
footer .service_box .service_logo {
    float: right;
    margin-left: 12px;
}
footer .service_box .service_info {
    overflow: hidden;
    margin-right: 8px;
}
footer .service_box .dsc, footer .service_box .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    padding-top: 2px;
}
footer .service_box .dsc {
    color: grey;
}
footer .corp_area {
    padding-top: 25px;
    border-top: 1px solid #e4e8eb;
}
footer .list_corp {
    overflow: hidden;
    float: left;
    margin-right: 13px;
}
footer .list_corp .corp_item {
    float: left;
    color: #777;
}
footer .list_corp .corp_item+.corp_item::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 8px;
    background-color: #e4e8eb;
    vertical-align: -1px;
}
footer .corp_area .addr {
    float: left;
    color: #202020;
    font-weight: 700;
}
address, em {
  font-style: normal;
}